@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'DM Serif Text', serif;
  font-family: 'Inter', sans-serif;
  font-family: 'Raleway', sans-serif;
}

ul li {
  list-style-type: none;
}

.masuk:hover {
  pointer-events: none;
  cursor: default;
}